/* Header */
.main-header 
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 60px;
    background-color: rgb(0, 0, 0, 0.8);
    position: sticky;
    top: 0;
    z-index: 1000;
    flex-wrap: wrap;
    color: #ffffff;
}

.space1
{
    color: white;
}

.divH 
{
    margin-right: 50px;
    display: flex;
    align-items: center;
    gap: 25px;
}   

.logohead 
{
    height: 65px;
}

.spanPortFolio
{
    
}





/* body */
html, body
{
    margin: 0;
    min-height: 100%;
}

body
{
    position: relative;
    overflow-x: hidden;
}

.bg-wrap{
    position: fixed;
    inset: 0;
    z-index: 0;
    overflow: hidden;
    pointer-events: none;
}

.bg-wrap video{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 110%;
    height: 110%;
    transform: translate(-50%, -50%);
    object-fit: cover;
}

body.bg-panel::before
{
    content: "";
    position: fixed;
    top: 0;
    left: 50%;
    width: 500px;
    height: 100vh;
    background: rgba(87, 72, 32, 0.5);
    box-shadow: 0 0 40px rgb(99, 71, 38);
    z-index : 1;
    transform: translateX(-50%);
    pointer-events: none;
}

.main-header, .content, .mainPageProfil,  section, footer
{
    position: relative;
    z-index: 2;
}

.h1A
{
    color: rgb(218, 218, 218);
    padding-top: 50px;
    margin-left: 50px;
    font-size: 70px;
}

.h2A
{
    color: rgb(218, 218, 218);
    display: flex;
    justify-content: center;
    font-size: 50px  ;
}

.s1
{
    color: rgb(218, 218, 218);
    font-size: 30px;
    margin-top: 100px;
    margin-left: 350px;
}

.s2
{
    color: rgb(218, 218, 218);
    font-size: 30px;
    margin-top: 100px;
    margin-left: 800px;
}





/* project card */
.projects
{
    width: min(900px, 90%);
    margin: 60px auto 0 auto;
    display: flex;
    flex-direction: column;
    gap: 25px
}

.project-card
{
    color: white;
    display: flex;
    align-items: center;
    gap: 25px;
    padding: 20px;
    border-radius: 20px;
    background: rgba(56, 56, 56, 0.5);
    box-shadow: 0 10px 35px rgba(56, 56, 56, 0.5);
    transition: transform 0.25s ease, box-shadow 0.25s ease;
    transform-origin: center;
}

.project-card:hover
{
    transform: scale(1.05);
    box-shadow: 0 20px 45px rgba(0,0,0,0.5);
}

.project-img
{
    width: 250px;
    height: 150px;
    object-fit: cover;
    border-radius: 15px;
    flex-shrink: 0;
}

.project-text h3
{
    margin: 0 0 10px 0;
    font-size: 30px;
}

.project-text p
{
    margin: 0;
    font-size: 20px;
    line-height: 1.5;
}

.project-card
{
    position: relative;
    padding-bottom: 50px;
}

.project-tags
{
    position: absolute;
    right: 20px;
    bottom: 15px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: flex-end;
    max-width: 60%;
}

.tag
{
    position: relative;
    padding: 5px 15px;
    font-size: 17px;
    line-height: 1;
    color: white;
    background: rgba(0, 0, 0, 0.9);
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(167, 143, 74, 0.5);
}


@media (max-width: 700px)
{
    .project-card
    {
        flex-direction: column;
        text-align: left;
    }
    .project-img
    {
        width: 100%;
        height: 200px;
    }
}





/* Footer */
footer {
    width: 100vw;
    margin: 0;
    margin-top: 100px;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: column;
    align-items: center;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
/* bloc base */
.fhead {
    display: flex;
    align-items: stretch;
    justify-content: flex-start;
    width: 85%;
    max-width: 1500px;
    margin: 0 auto;
    padding: 40px 0;
}

#logo {
    height: 60px;
    margin: 0;
}

/* left case */
.tabl0 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 30%;
    min-width: 250px;
    margin-left: 20px;
    color: #ffffff;
}

/* mid case */
.tabl1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 20%;
    color: #ffffff;
}

footer a {
    color: black;
    text-decoration: none;
    margin-bottom: 8px;
    transition: color 0.3s;
    color: #ffffff;
}

.space1, footer a:hover {
    color: #ffffff;
}

/* right case */
.tabl2 {
    width: 25%;
    margin-left: 50px;
    color: #ffffff;
}

/* links */
#links {
    display: flex;
    gap: 25px;
    justify-content: flex-end;
    align-items: center;
    width: 85%;
    max-width: 1200px;
    margin: 0 auto 10px auto;
    
}

.linka {
    width: 70px;
    height: 35px;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s;
    box-shadow: 0 10px 20px rgba(255, 255, 255, 0.5);
}

.linka:hover {
    transform: scale(1.2);
}

footer hr { 
    border: 1px solid rgb(255, 255, 255);
    width: 90%;
    margin-top: 0;
    margin-bottom: 10px;
    
}

#endf {
    display: flex;
    justify-content: center;
    font-size: 13px;
    margin-top: 0;
    color: #ffffff;
}